<mat-card>
    <mat-card-header>
        <mat-card-title id="rpaTitle">Tender Management System</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-popup-width">
        <div class="padding-15">
            <div class="row section-padding">
                <div class="col-md-12">
                    <mat-card>
                         <div class="row  padding-10">
                          <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Tender" />
                                </mat-form-field>
                            </div> 
                            <div class="col-md-6 pull-right" style="text-align:right">
                                <button mat-raised-button color="primary" (click)="addTender()">
                                    Add
                                </button>
                            </div>
                        </div>

                        <div class="example-table-container mat-elevation-z8">
                            <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="name"
                                matSortDisableClear matSortDirection="desc">

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Tender Name
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                                </ng-container>

                                <ng-container matColumnDef="contractNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Contract Number
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.contractNumber }}</td>
                                </ng-container>

                                <ng-container matColumnDef="releaseDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Release Date
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.releaseDate | date: 'yyyy-MM-dd' }}</td>
                                </ng-container>

                                <ng-container matColumnDef="closingDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Closing Date
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.closingDate | date: 'yyyy-MM-dd' }}</td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Description
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.description }}</td>
                                </ng-container>

                                <ng-container matColumnDef="edit" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button aria-label="Edit" (click)="editTender(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="delete" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button aria-label="Delete" (click)="deleteTender(row)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
